
<mat-card class="mat-elevation-z8">
  <div class="text-center">
    <h3>Донишгоҳи техникии Тоҷикистон</h3>
    <h6>ба номи академик М.С.Осимӣ</h6>
    <h6>банақшагирии миқдори соатҳои таълимӣ барои соли таҳсили</h6>
    <div class="half-width">
      Миқдори соатҳои тақсимшудаи солона:
    </div>
    <div class="half-width">
      <h6>Кафедраи</h6>
      <h6>Ному насаби омӯзгор:</h6>
      <h6>Унвон ва вазифа:</h6>
    </div>
  </div>
  <div>
    <table class="text-center">
      <tr>
        <th rowspan="2">№</th>
        <th rowspan="2" style="width: 30%;">
          <h4>Номгӯи фанҳо</h4>
        </th>
        <th rowspan="2">
          <div>Курс</div>
        </th>
        <th rowspan="2"> Зинаи таҳсил </th>
        <th rowspan="2"> Гурӯҳ </th>
        <th rowspan="2">
          <div>Шумораи донишҷӯён</div>
        </th>
        <th rowspan="2">
          <div>Лоиҳаи курсӣ</div>
        </th>
        <th rowspan="2">
          <div>Кори курсӣ</div>
        </th>
        <th rowspan="2">
          <div>Кори контролӣ</div>
        </th>
        <th colspan="2">ЛК</th>
        <th colspan="2">ОЗМ</th>
        <th colspan="2">АМ</th>
        <th colspan="2">СМ</th>
        <th colspan="2">КМРО</th>
        <th rowspan="2">
          <div>Ҳамагӣ соатҳои аудиторӣ</div>
        </th>
        <th rowspan="2">
          <div>Имтиҳон</div>
        </th>
        <th rowspan="2">
          <div>Санҷиш</div>
        </th>
        <th rowspan="2">
          <div>Машварат</div>
        </th>
        <th rowspan="2">
          <div>Таҷрибаомӯзиҳо</div>
        </th>
        <th rowspan="2">
          <div>Ҳамагӣ</div>
        </th>
      </tr>
      <tr>
        <th>
          <div>Аз рӯи нақша</div>
        </th>
        <th>
          <div>Ҳамагӣ</div>
        </th>
        <th>
          <div>Аз рӯи нақша</div>
        </th>
        <th>
          <div>Ҳамагӣ</div>
        </th>
        <th>
          <div>Аз рӯи нақша</div>
        </th>
        <th>
          <div>Ҳамагӣ</div>
        </th>
        <th>
          <div>Аз рӯи нақша</div>
        </th>
        <th>
          <div>Ҳамагӣ</div>
        </th>
        <th>
          <div>Аз рӯи нақша</div>
        </th>
        <th>
          <div>Ҳамагӣ</div>
        </th>
      </tr>
      <tr>
        <th *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13
                ,14,15,16,17,18,19,20,21,22,23,24,25]">{{i}}</th>
      </tr>
    </table>
  </div>

  <div class="text-center">
    <div class="half-width">
      Декани факултет:
    </div>
    <div class="half-width">
      Мудири кафедра:
    </div>
  </div>
</mat-card>
