th div{
  height: 250px;
  margin: auto;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

table {
  width: 100%;
}

table td, table th {
  border: 1px solid #000000;
}

.half-width {
  margin: 10px 0;
  width: 49.7%;
  display: inline-block;
}
